header {
    width: 1503px;
    height: 58px;
    background-color: #A3BAB7;
    margin: 0;
    font-size: 24px;
    color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

footer {
    font-size: small;
    bottom: 0;
    left: 45%;
    position: fixed;
}

.contact {
    padding-top: 10px;
}

a {
    color: beige;
    text-decoration: none;
}

a:hover {
    color:#A67B5F;
}

#welcome {
    color: #A67B5F;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    text-align: right;
}

#AboutMe{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.up-1, .up-2 {
    width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 0 183.8px 227.5px 183.8px;
    border-color: transparent transparent #4A6461 transparent;
    float: left;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    display: inline-block;
  }
  
.up-1 p, .up-2 p {
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-align: center;
    font-size: x-large;
    top: 90px;
    left: -55px;
    position: relative;
    width: 93px;
    height: 93px;
    margin: 0px;
    display: inline-block;
  }

.up-1 a, .up-2 a{
    color: beige;
    font-size: large;
    text-align: center;
    top: 80px;
    left: -47px;
    position: relative;
    width: 93px;
    height: 93px;
    margin: 0px;
    display: inline-block;
}
  


.down {
    width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 227.5px 183.8px 0 183.8px;
    border-color: #A67B5F transparent transparent transparent;
    float: left;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    display: inline-block;
  }
  
.down p {
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-align: center;
    font-size: x-large;
    bottom: 200px;
    left: -47px;
    position: relative;
    width: 93px;
    height: 93px;
    margin: 0px;
    display: inline-block;

  }

  .down a{
    color: beige;
    font-size: large;
    text-align: center;
    bottom: 175px;
    left: -47px;
    position: relative;
    width: 93px;
    height: 93px;
    margin: 0px;
    display: inline-block;
}

.up-2 {
  float: right;
}


#projects {
    display:block;
    text-align: center;
    margin-right: auto;
    margin-left: 13%;
    padding: 20px;
    padding-bottom: 30px;
    
}
