header {
    width: 1503px;
    height: 58px;
    background-color: #A3BAB7;
    margin: 0;
    font-size: 24px;
    color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.contact {
    padding-top: 10px;
}

a {
    color: beige;
    text-decoration: none;
}

a:hover {
    color:#A67B5F;
}

#greeting {
    font-size: 72px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}


#triangle-up {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 157.5px solid transparent;
    border-right: 157.5px solid transparent;
    border-bottom: 227.5px solid #4A6461;
  }

#triangle-down {
    display: inline-block;
    width: 0;
	height: 0;
	border-left: 183.8px solid transparent;
	border-right: 183.8px solid transparent;
    border-top: 227.5px solid #A67B5F;

}

#projects {
    padding: 20px;
    padding-bottom: 30px;
}